.cell {
  position: relative;
  text-align: left;

  .sketch {
  }

  .play-button {
    position: absolute;
    bottom: 8px;
    left: 8px;
  }

  .time-slider {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .seek-time {
    position: absolute;
    bottom: 13px;
    right: 2px;
    font-size: 10px;
  }

  .info {
    text-align: left;
    position: absolute;
    left: 0;
    .sliders {
      margin-top: 10px;
      font-size: 16px;
    }
  }

}