.cell {
  position: relative;
  text-align: left;
  user-select: none;

  .sketch {
    position: relative;
  }

  .play-button {
    position: absolute;
    bottom: 4px;
    left: 11px;
  }

  .time-slider {
    position: absolute;
    bottom: 10px;
  }

  .seek-time {
    position: absolute;
    bottom: 10px;
    right: 2px;
    font-size: 9px;
    pointer-events: none;
  }

  .info {
    text-align: left;
    position: absolute;
    left: 0;
    .sliders {
      margin-top: 10px;
      font-size: 16px;
    }
  }

}